@font-face {
  font-family: 'Greycliff';
  src: url('https://s3-ap-southeast-1.amazonaws.com/common.assets/fonts/GreycliffCF-DemiBold.ttf');
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

h1, h2, h3 {
  font-family: 'Greycliff', sans-serif;
  letter-spacing: -0.6px;
}