.page-play {
  background-color: #FFFFFF;
  border: 1px solid #333;

  h1 {
    margin: 24px 0;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
  }

  .cam-container {
    width: 400px;
    margin: auto;
    position: relative;

    .video-stream {
      width: inherit;
      height: 500px;
      border-radius: 10px;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }

    .video-overlay {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .overlay-countdown {
    display: none;
    .countdown {
      text-align: center;
      margin-top: 120px;
      font-size: 340px;
      .number {
        font-weight: bold;
      }
    }
  }

  .overlay-finished {
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;

    .gameover {
      margin-top: 120px;
      font-size: 64px;
    }

    .result {
      color: deeppink;
      margin-top: 20px;
      font-size: 32px;
    }

    .buttons {
      text-align: center;
      margin-top: 60px;
      .btn {
        border: 8px dashed pink;
        background-color: white;
        font-size: 48px;
        border-radius: 10px;
        color: #ff0000;
        padding: 10px;
        width: 500px;
      }
    }
  }

  .overlay-laugh {
    display: none;
    .smiley {
      margin-top: 100px;
      text-align: center;
    }
  }

  .overlay-visible {
    display: block;
  }
}