@import '@/styles/_card';

.back-btn {
  text-decoration: none;
  color: #333333;
  opacity: 0.3;
  position: relative;
  top: 10px;
  font-weight: 300;
  transition: opacity 0.2s ease;
  &:hover {
    opacity: 1.0;
  }
}

.attendance {
  width: 85%;
}

.header {
  margin-top: 0;
  font-size: 1.5em;
  text-align: left;
}

.card {
  padding: 15px;
}

.course-detail-line {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  .title {
    margin: 0;
    font-weight: 300;
    width: 70px;
    text-align: left;
  }
  .description {
    margin: 0;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.fix-card-width {
  width: 100%;
}

.cam-container {
  width: 400px;
  margin: 0px 20px;
  position: relative;

  .video-stream {
    width: inherit;
    height: 500px;
    border-radius: 10px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
  }
}