@import '@/styles/_fields';
@import '@/styles/_button';
@import '@/styles/_layout';
@import '@/styles/_modal';
@import '@/styles/_loader';

::-webkit-scrollbar { 
  display: none; 
}

.attendance-track {
  width: 90%;
}

.header {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.5em;
  text-align: left;
}

.search-fields {
  display: flex;
  align-items: center;
  .field-input {
    margin-right: 30px;
    &:first-of-type {
      width: 350px;
    }
    &:nth-of-type(2) {
      width: 200px;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.attendance-table {
  background-color: #FFFFFF;
  height: 350px;
  max-height: 350px;
  width: 100%;
  overflow-y: scroll;
  border: 1px solid rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  .row {
    font-weight: 300;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    &:last-of-type {
      border-bottom: none;
    }
  }
}

.empty-table {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  max-height: 350px;
  border: 1px solid rgba(0,0,0,0.3);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  p {
    color: rgba(0,0,0,0.3);
    font-weight: 300;
  }
}

.headers {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.column {
  width: 25%;
  padding: 10px 0px;
  border-right: 1px solid rgba(0,0,0,0.3);
  &:last-of-type {
    border-right: none;
  }
}
.id {
  width: 5%;
}
.matric {
  width: 15%;
}
.lab-att {
  width: 11%;
}

.search-list {
  max-height: 0;
  visibility: hidden;
  transition: all 0.1s ease;
  position: absolute;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(0,0,0,0.2);
  border-top: none;
  background-color: #FFFFFF;
  z-index: 999;
  top: 56px;
  overflow-y: scroll;
  text-align: left;
  li {
    overflow-x: hidden;
    padding: 10px 10px;
    transition: all 0.1s ease;
    word-wrap: none;
    white-space: nowrap;
    cursor: pointer;
    background-color: #FFFFFF;
    &:hover {
      background-color: rgba(0,0,0,0.05)
    }
  }
}

.showSearchList {
  max-height: 145px;
  visibility: visible;
}

.push-notif-btn {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #333;
  font-size: 0.9em;
  transition: opacity 0.2s ease;
  opacity: 1.0;
  img {
    width: 20px;
    margin-right: 10px;
  }
}

.btn-disabled {
  opacity: 0.4;
  cursor: default;
}

.row {
  justify-content: space-between;
  align-items: center;
}

.recipient-list {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.7em;
  color: #333333;
  .recipient {
    background-color: rgba(0,0,0,0.1);
    border-radius: 20px;
    padding: 8px 12px;
    margin-right: 10px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.disable-send {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: rgba(0,0,0,0.5);
}

.btn-success {
  background-color: #66bb6a;
}